.screen{
    display: flex;
    flex-direction: column;
    width: calc(90px * 3 + 10px * 2);
    min-height: calc(3.5rem + 40px);
    max-height: calc(3.5rem * 3 );
    margin: 10px; 
    border-radius: 10px;
    background-color: rgba(212, 207, 207, 1);
    padding-top: 20px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    box-shadow: inset 0px 0px 100px white;
    .equation-segment{
        display: block;
        width: calc(100% - 20px);
        max-width: 400px;
        // background: red;
        margin: 0 10px;
        font-size: 3rem;
        font-family: Georgia, 'Times New Roman', Times, serif;
        letter-spacing: 0.3rem;
        font-weight: 400;
        display: flex;
        flex-wrap: wrap;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
}